# Entorno virtual
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]

# Variables de entorno
.env

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos generados
*.log

# Sistema operativo
.DS_Store
Thumbs.db